
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 80px;
    z-index: 100;
}

#container h1{
    font-size: 3.8rem;
    margin-bottom: 100px;
}

.img-container{
    height: 182px;
    width: 100%;
    background: url(../assets/GOTdivisor.png);
}

.img-footer{
  transform: rotate(180deg);
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.character-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 42px;
}


.loading{
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading h1{
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--font-color);
}



#footer{
    flex-shrink: 0;
    width: 100%;
    color: var(--font-color);
    padding-top: 20px;
    text-align: center;
  }

  
.footer-content{
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    padding: 30px;
}

.footer-content a{
    color: var(--font-color);
}

@media (max-width: 1260px){
    .character-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 946px){
    .character-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #container h1 {
      font-size: 2.8rem;
      margin-bottom: 50px;
    }
  
    .img-container {
      height: 142px;
    }
  
    .character-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 680px) {
    #landing .layer.logo{
        height: 160px;
    }

    #container h1 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  
    .img-container {
      height: 100px;
    }
  
    .character-list {
      grid-template-columns: 1fr;
    }
  }