#landing{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

#landing .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#landing .layer.bg{
    background: url(../assets/ladingpageGOTa.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

#landing .layer.overlay{
    background: url(../assets/ladingpagesGOTb.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

#landing .layer.logo{
    background: url(../assets/GOTlogo.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%; 
    transform: translateY(20%);
    transition: 0.5s ease-out;
}

#landing .layer.bottom{
    background: url(../assets/GOTbottom.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

#landing .layer.scrolldown{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
    transform: translateY(280%);
}

.scrolldown h1{
    font-size: 2.5rem;
}

.scrolldown svg{
    animation: scroll 2s ease-in-out infinite;
}

@keyframes scroll {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }



#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    z-index: 100;
}

#container h1{
    font-size: 3.8rem;
    margin-bottom: 100px;
}

.img-container{
    height: 182px;
    width: 100%;
    background: url(../assets/GOTtop.png);
}

.character-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 42px;
}


.loading{
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading h1{
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--font-color);
}



#footer{
    flex-shrink: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--font-color);
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--white);
  }
  
.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-content a{
    color: var(--font-color);
}

@media (max-width: 1260px){
    .character-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 946px){
    .character-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #container h1 {
      font-size: 2.8rem;
      margin-bottom: 50px;
    }
  
    .img-container {
      height: 142px;
    }
  
    .character-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Media query para tamaños de pantalla aún más pequeños */
  @media (max-width: 680px) {
    #landing .layer.logo{
        height: 160px;
    }

    #container h1 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  
    .img-container {
      height: 100px;
    }
  
    .character-list {
      grid-template-columns: 1fr;
    }
  }